.product {
  width: 18%;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  padding: 1.8rem;
  transform: scale(1);
  opacity: 1;
}

.product:hover {
  transform: scale(0.9);
  opacity: 0.8;
  transition: opacity 800ms ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-title {
  text-transform: uppercase;
  text-decoration: none;
  color: #800000;
}

.product-price {
  font-family: 'Franklin Gothic Medium';
  color: rgba(89, 89, 89, 1);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  text-align: center;
  padding: 1rem 0rem 0rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.btn-addToCart {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.btn-addToCart:hover {
  opacity: 0.7;
}

/* Simple Card */

card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 1rem;
  position: relative;
  width: 300px;
  border-radius: 6px;
}

.cardBox {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cardBox:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .card__image {
    opacity: 1;
  }
}

.card__content {
  padding: 25px;
  text-align: left;
}

.card__image {
  height: 200px;
  opacity: 0.91;
  text-align: center;
}

.card__title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 10px;
}