input {
  width: 50%;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.15;
  font-family: inherit;
  text-transform: none;
  overflow: visible;
}

input[type=textarea] {
  height: 6em;
}

input[disabled] {
  opacity: 0.65;
  cursor: not-allowed;
}

input[type=number] {
  position: relative;
    padding: 15px;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
}

input[type=number]:hover{
  border: 1px solid blue;
}

