.form {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 200px;
    margin:0 auto;
  }
  
  .form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 12px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form-field::placeholder {
    color: transparent;
  }
  
  .form-field:placeholder-shown ~ .form-label {
    font-size: 16px;
    cursor: text;
    top: 20px;
  }
  
  label,
  .form-field:focus ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
  }
  
  .form-field:focus ~ .form-label {
    color: #337ab7;
  }
  
  .form-field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #337ab7;
  }

  input[type=textarea] {
   height: 70px;
}

input[type=number]{
    position: relative;
    padding: 15px;
    width: 50px;
    cursor: pointer;
    border-radius: 10px; 
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #004085;
}

input[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
  }

  